<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\UdfsNext\SportLevel\logs\internal-nlog.txt">

	<variable name="project" value="UfdsNext.Provider.BetRadar" />
	<variable name="fileDestination" value="c:\UdfsNext\BetRadar" />
	<variable name="udpDestination" value="udp://localhost:9500" />

	<targets async="true">

		<target name="fileTarget" xsi:type="File" encoding="utf-8"
            fileName="${var:fileDestination}/logs/${date:format=yyyy-MM-dd}.${level}.log"
            archiveFileName="${var:logsdir}/{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd_HH"
            archiveEvery="Hour"
            maxArchiveFiles="48"
            keepFileOpen="true"
            cleanupFileName="false">

			<layout xsi:type="JsonLayout"  maxRecursionLimit="2" includeAllProperties="true" >
				<attribute name="project" layout="${var:project}" />
				<attribute name="machinename" layout="${machinename}" />
				<attribute name="timestamp" layout="${date:universalTime=true:format=O}" />
				<attribute name="level" layout="${level:upperCase=true}" />
				<attribute name="logger" layout="${logger:shortName=true}" />
				<attribute name="message" layout="${message}" escapeUnicode="false" />
				<attribute name="exception" layout="${exception:format=toString}" escapeUnicode="false" />
			</layout>
		</target>

		<target name="udpLog" xsi:type="Network" encoding="utf-8"
            address="${var:udpDestination}"
            newLine="true">
			<layout xsi:type="JsonLayout"  maxRecursionLimit="2" includeAllProperties="true" >
				<attribute name="project" layout="${var:project}" />
				<attribute name="machinename" layout="${machinename}" />
				<attribute name="timestamp" layout="${date:universalTime=true:format=O}" />
				<attribute name="level" layout="${level:upperCase=true}" />
				<attribute name="logger" layout="${logger:shortName=true}" />
				<attribute name="message" layout="${message}" escapeUnicode="false" />
				<attribute name="exception" layout="${exception:format=toString}" escapeUnicode="false" />
			</layout>
		</target>
		
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="udpTarget"  />
		<logger name="*" minlevel="Trace" writeTo="fileTarget" />
	</rules>

</nlog>